.post-container {
    padding: 4vh;
    display: flex;
    flex-direction: column;
    width: 85%;
    border: 2px dashed #e6e6e6;

}

.post-header {
    text-shadow: 2px 2px #e6e6e6;
    font-size: 18px;
    font-weight: bold;
    color: #737373;
}
.cancel-buttons {
    color: #ffffff !important;
    background: #1f1a1a !important;

    &:hover {
        color: #1f1a1a !important;
        background: #737373 !important;
    
    }
}
.save-button {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 10px;
}

.buttons {
    width: 100px;
    color: #ffffff;
    height: 30px;
    padding: auto;
    background: #5cb85c;
    border: none;
    margin-left: 20px;

    &:hover {
        color: #ffffff;
        background: #737373;
    }
}

.post-list-header {
    background-color: transparent;
    border: 1px solid #ccc9c9;
    box-shadow: 2px 2px #ccc9c9;
    border-radius: 10px;
    position: relative;
    width: 20%;
    min-height: 1px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 57%;
}

.post-wrapper{
    background: #ffffff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s;
    &::after, &::before{
        box-sizing: inherit;
    }
}

.post-image {
    width: auto;
    text-align: center;
    flex-shrink: 0;
    border-radius: calc(.25rem - 1px);

    img {
        width: 100%;
        vertical-align: middle;
        border-style: none;
    }
}

.post-content {
    padding: 0 2rem;
    margin-top: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
    line-height: 1;
    word-break: break-word;

    h4 {
        font-weight: 500;
    margin-bottom: 0;
    text-align: left;
    padding-top: 2rem;
    }

    .post-caption {
        font-weight: 500;
        text-align: left;
        padding-top: 0;
        p{
            margin-top: 0;
            margin-bottom: 0;
    text-align: left;
    padding-top: 1.5rem;
        }
        .post-text {
            color: #767676;
            font-style: normal;
    line-height: 1.6;
        }
    }

}

*, ::after, ::before {
    box-sizing: inherit;
}