.post-button {
    padding-top: 0;
    margin-left: -.25rem;
    margin-right: -.25rem;
    text-align: center !important;
    input, input:hover {
        text-decoration: none;
        background-color: #ffffff;
        border-color:#333333; ;
        color: #333333;
    }
    input.btn:not(.btn-form) {
        border-radius: 100px;
    }

    .btn {
        user-select: none;
        border: 1px solid transparent;
        font-weight: 500;
        border-width: 2px;
        font-style: normal;
        letter-spacing: 1px;
        margin: .4rem .8rem;
        white-space: normal;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        padding: 1rem 3rem;
        border-radius: 3px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        word-break: break-word;
        font-family: 'Inconsolata', monospace;
        font-size: 1rem;
    }
    .btn-black, .btn-black:active {
        background-color: #333333;
        border-color: #333333;
        color: #ffffff;
    }
}