.backdrop{
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    background-color: rgba(0,0,0,0.3);
    padding: 50 !important;
}

.modal {
    background-color: #fff !important;
    border-radius: 5 !important;
    max-width: 500 !important;
    min-height: 300 !important;
    margin: 0 auto !important;
    padding: 30 !important;
}